<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="ged-uesb">
        <wb-resource deploy-path="/" source-path="/web" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/web/WEB-INF/lib"/>
        <property name="context-root" value="ged-uesb"/>
        <property name="java-output-path" value="/ged-uesb/build/classes"/>
    </wb-module>
</project-modules>
