<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core" 
	template="./layout.xhtml">

	<ui:define name="menu_superior">
	</ui:define>

	<ui:define name="conteudo">
		<br />
		<h2>Cadastro de usuários</h2>
		<hr />
		<br />
		<br />
		<h:form id="usuario">
			<p align="center">
				Localizar:
				<p:inputText id="inputStrConsulta" size="50" value="#{ctrlCadastroUsuario.strConsulta}">
					<p:ajax event="keyup" listener="#{ctrlCadastroUsuario.carregaFuncionarios()}" process="inputStrConsulta" update=":usuario:lista_usuarios" />
				</p:inputText>
			</p>
			<p:dataTable align="center" id="lista_usuarios" width="350px" var="item" value="#{ctrlCadastroUsuario.funcionarios}"
			selectionMode="single" selection="#{ctrlCadastroUsuario.usuario.funcionario}" rowKey="#{item.funcionarioMatricula}">
				<p:ajax event="rowSelect" update=":usuario:matricula, :usuario:funcionario" />
				<p:column>
					<f:facet name="header">
						<h:outputText value="Matrícula" />
					</f:facet>
					<h:outputText value="#{item.funcionarioMatricula}"  />
					<!-- <p:commandLink value="#{item.funcionarioMatricula}" update=":usuario:matricula, :usuario:funcionario">
						<f:setPropertyActionListener target="#{ctrlCadastroUsuario.usuario.funcionario}" value="#{item}" />
					</p:commandLink> -->
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="Nome" />
					</f:facet>
					<h:outputText value="#{item.funcionarioNome}"/>
					<!-- <p:commandLink value="#{item.funcionarioNome}" update=":usuario:matricula, :usuario:funcionario">
						<f:setPropertyActionListener target="#{ctrlCadastroUsuario.usuario.funcionario}" value="#{item}" />
					</p:commandLink> -->
				</p:column>
			</p:dataTable>
			<table align="center">
				<tr>
					<td>Matrícula:</td>
					<td><h:outputText id="matricula" value="#{ctrlCadastroUsuario.usuario.funcionario.funcionarioMatricula}" /></td>
				</tr>
				<tr>
					<td>Funcionário:</td>
					<td><h:outputText id="funcionario"
							value="#{ctrlCadastroUsuario.usuario.funcionario.funcionarioNome}" /></td>
				</tr>
				<tr>
					<td>Login:</td>
					<td><p:inputText value="#{ctrlCadastroUsuario.usuario.usuarioLogin}" size="30" /></td>
				</tr>
				<tr>
					<td>Senha:</td>
					<td><p:password value="#{ctrlCadastroUsuario.usuario.usuarioSenha}" size="30" /></td>
				</tr>
				<tr>
					<td>Status:</td>
					<td><p:selectOneMenu
							value="#{ctrlCadastroUsuario.usuario.usuarioStatus}">
							<f:selectItem itemLabel="Liberado" itemValue="true" />
							<f:selectItem itemLabel="Bloqueado" itemValue="false" />
						</p:selectOneMenu></td>
				</tr>
				<tr>
					<td>Privilégio:</td>
					<td><p:selectOneMenu
							value="#{ctrlCadastroUsuario.usuario.usuarioPrivilegio}">
							<f:selectItem itemLabel="Usuario" itemValue="u" />
							<f:selectItem itemLabel="Coordenador" itemValue="c" />
							<f:selectItem itemLabel="Administrador" itemValue="a" />
						</p:selectOneMenu></td>
				</tr>
				<tr>
					<td></td>
					<td align="right"><p:commandButton	action="#{ctrlCadastroUsuario.Salvar}" value="Salvar" /></td>
				</tr>
			</table>
		</h:form>
	</ui:define>

	<ui:define name="menu_lateral">
	</ui:define>

	<ui:define name="rodape">
	</ui:define>

</ui:composition>
