<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"      
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
				template="./layout.xhtml">

	<ui:define name="menu_superior">
    </ui:define>

	<ui:define name="conteudo">
		<br />
		<h2>Cadastro de funcionários</h2>
		<hr />
		<br />
		<br />
		<h:form id="funcionario">
			<table align="center">
				<tr>
					<td>Matrícula:</td>
					<td><p:inputText value="#{ctrlCadastroFuncionario.funcionario.funcionarioMatricula}" size="20" /></td>
				</tr>
				<tr>
					<td>Nome completo:</td>
					<td><p:inputText value="#{ctrlCadastroFuncionario.funcionario.funcionarioNome}" size="50" /></td>
				</tr>
				<tr>
					<td>E-mail:</td>
					<td><p:inputText value="#{ctrlCadastroFuncionario.funcionario.funcionarioEmail}" size="60" /></td>
				</tr>
				<tr>
					<td>Departamento:</td>
					<td>
						<p:selectOneMenu id="departamento" value="#{ctrlCadastroFuncionario.funcionario.departamento}">
							<f:selectItem itemLabel="Selecione..." value="#{null}" />
							<f:selectItems value="#{ctrlCadastroFuncionario.departamentos}" var="departamento" itemLabel="#{departamento.departamentoNome}" itemValue="#{departamento}" />
							<f:converter converterId="ConversorDepartamento" />
							<p:ajax event="change" listener="#{ctrlCadastroFuncionario.carregaCargos}" update="cargo" />
						</p:selectOneMenu>
					</td>
				</tr>
				<tr>
					<td>Cargo:</td>
					<td>
						<p:selectOneMenu id="cargo" value="#{ctrlCadastroFuncionario.funcionario.cargo}">
							<f:selectItem itemLabel="Selecione..." value="#{null}" />
							<f:selectItems value="#{ctrlCadastroFuncionario.cargos}" var="cargo" itemLabel="#{cargo.cargoNome}" itemValue="#{cargo}"/>
							<f:converter converterId="ConversorCargo" />
						</p:selectOneMenu>
					</td>
				</tr>
				<tr>
					<td></td>
					<td align="right"><p:commandButton id="btnSalvar" action="#{ctrlCadastroFuncionario.salvar}" value="Salvar" /></td>
				</tr>
			</table>
		</h:form>
	</ui:define>

	<ui:define name="menu_lateral">
	</ui:define>

	<ui:define name="rodape">
	</ui:define>

</ui:composition>
