<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"      
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="./layout.xhtml">

    <ui:define name="menu_superior">
        <h:form id="menu_superior">
            <li class="current_page_item"><p:commandLink action="home" value="Voltar" /></li>           
        </h:form>
    </ui:define>

    <ui:define name="conteudo">
        <br/>
        <h2>Cadastro de departamentos</h2><hr />
        <br />
        <br />
        <h:form id="departamento">
            <table align="center">
                <tr>
                    <td>Nome:</td>
                    <td><p:inputText value="#{ctrlCadastroDepartamento.departamento.departamentoNome}" size="30" /></td>
                </tr>
                <tr>
                    <td>Sigla:</td>
                    <td><p:inputText value="#{ctrlCadastroDepartamento.departamento.departamentoSigla}" size="30" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td align="right">
                        <p:commandButton action="#{ctrlCadastroDepartamento.salvar}" ajax="false" value="Salvar">
                            <f:setPropertyActionListener target="#{ctrlMensagens.pagina}" value="cadastro_departamentos"/>
                        </p:commandButton>
                    </td>
                </tr>
            </table>
        </h:form>
    </ui:define>

    <ui:define name="menu_lateral">
    </ui:define>

    <ui:define name="rodape">
    </ui:define>

</ui:composition>
