<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"      
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                template="./layout.xhtml">

    <ui:define name="menu_superior">
       <li class="current_page_item">
       		<h:outputLink  value="home.jsf">Voltar</h:outputLink>
       </li>           
    </ui:define>

    <ui:define name="conteudo">
        <h2>Consultar documentos</h2><hr />
        <br /><br />
        <p:tabView id="tabview" activeIndex="#{ctrlDocumentos.activetab}" style="width: 700px; padding: 0px;">
            <p:ajax event="tabChange" listener="#{ctrlDocumentos.onChange}"/>
            <p:tab id="tab1" title="Meus documentos">
                <h:panelGrid style="padding: 0px;">
                    <h:form id="frm_tabela" prependId="false">
                        <p:panel style="width: 660px; padding: 0px; border: 0px;">
                            <f:facet name="header">  
                                <p:outputPanel style="padding: 0px;">
                                    <br/>
                                    <p align="center" style="font-size: 20px;">Meus documentos</p>
                                    <p align="center">
                                        <h:outputText value="Localizar:" />  
                                        <p:inputText id="filtro"  value="#{ctrlDocumentos.consulta}" style="width:300px">
                                            <p:ajax event="keyup" listener="#{ctrlDocumentos.carregaDocumentosDoFuncionarioPorDescricao()}" update="tabela" />                                            
                                        </p:inputText>
                                    </p>
                                </p:outputPanel>  
                            </f:facet>
                        </p:panel>
                        <p:dataTable id="tabela"  var="doc" value="#{ctrlDocumentos.documentos}"
                                     emptyMessage="Nenhum documento encontrado."  
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                                     rowsPerPageTemplate="5,10,15,20"
                                     paginator="true" rows="10"
                                     style="width: 660px; padding: 0px;">


                            <p:column id="codigo" sortBy="#{doc.documentoId}"   
                                      headerText="Código">  
                                <h:outputText value="#{doc.documentoId}" />  
                            </p:column>

                            <p:column id="descricao" sortBy="#{doc.documentoDescricao}"  
                                      headerText="Descricao" >  
                                <h:outputText value="#{doc.documentoDescricao}" />  
                            </p:column>

                            <p:column id="data" sortBy="#{doc.documentoDataCriacao}"  
                                      headerText="Data de criação" >  
                                <h:outputText value="#{doc.documentoDataCriacao}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>  


                            <p:column id="acao" headerText="Ação" >  
                                <p align="center">
                                    <p:commandButton value="Ver" ajax="false" action="#{ctrlDocumentos.visualizarDocumento}">
                                        <f:setPropertyActionListener target="#{ctrlDocumentos.documentoSelecionado}" value="#{doc}"/> 
                                    </p:commandButton>
                                    &nbsp;&nbsp;
                                    <p:commandButton value="Excluir" onclick="dlgconf.show()" >
                                        <f:setPropertyActionListener target="#{ctrlMensagens.pagina}" value="documentos" />
                                        <f:setPropertyActionListener target="#{ctrlDocumentos.documentoSelecionado}" value="#{doc}"/>                                        
                                    </p:commandButton>
                                </p>  
                            </p:column>
                        </p:dataTable>
                        <p:confirmDialog widgetVar="dlgconf" message="Deseja realmente excluir o documento?"
                                         header="Confirmação de exclusão"  severity="info" >
                            <p align="center">
                                <p:commandButton value="Sim" ajax="false" action="#{ctrlDocumentos.excluir()}"/>
                                <p:commandButton value="Não" onclick="dlgconf.hide()" />                                
                            </p>

                        </p:confirmDialog>
                    </h:form>                                                            
                </h:panelGrid>
            </p:tab>
            <p:tab id="tab2" title="Documentos recebidos">
                <h:panelGrid style="padding: 0px;">
                    <h:form id="frm_tabela2" prependId="false">
                        <p:panel style="width: 660px; padding: 0px; border: 0px;">
                            <f:facet name="header">  
                                <p:outputPanel style="padding: 0px;">
                                    <br/>
                                    <p align="center" style="font-size: 20px;">Documentos recebidos</p>
                                    <p align="center">
                                        <h:outputText value="Localizar:" />  
                                        <p:inputText id="filtro2"  value="#{ctrlDocumentos.consulta}" style="width:300px">
                                            <p:ajax event="keyup" listener="#{ctrlDocumentos.carregaEncaminhamentosRecebidosPorDocumentoDescricao()}" update="tabela2" />                                            
                                        </p:inputText>
                                    </p>
                                </p:outputPanel>  
                            </f:facet>
                        </p:panel>
                        <p:dataTable id="tabela2"  var="doc" value="#{ctrlDocumentos.encaminhamentosRecebidos}"
                                     emptyMessage="Nenhum documento encontrado."  
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                                     rowsPerPageTemplate="5,10,15,20"
                                     paginator="true" rows="10"
                                     style="width: 660px; padding: 0px;">


                            <p:column id="data" sortBy="#{doc.encaminhamentoData}"  
                                      headerText="Data do envio" >  
                                <h:outputText value="#{doc.encaminhamentoData}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>
                            
                            <p:column id="tipo" sortBy="#{doc.documento.documentoTipo}"   
                                      headerText="Tipo de documento">  
                                <h:outputText value="#{doc.documento.documentoTipo}" />  
                            </p:column>
                            
                            <p:column id="descricao" sortBy="#{doc.documento.documentoDescricao}"  
                                      headerText="Documento"  >  
                                <h:outputText value="#{doc.documento.documentoDescricao}"/>                                    
                            </p:column>
                            
                            <p:column id="status" sortBy="#{doc.encaminhamentoStatus}"  
                                      headerText="Status" >  
                                <h:outputText value="#{doc.encaminhamentoStatus}"/>                                    
                            </p:column>

                            <p:column id="setor" sortBy="#{doc.departamentoRemetente.departamentoSigla}"  
                                      headerText="Remetente" >  
                                <h:outputText value="#{doc.departamentoRemetente.departamentoSigla}"/>                                    
                            </p:column>  


                            <p:column id="acao" headerText="Ação" >  
                                <p align="center">
                                    <p:commandButton value="Ver" ajax="true" action="#{ctrlDocumentos.visualizarDocumentoRecebido}">
                                    	<f:setPropertyActionListener target="#{ctrlDocumentos.encaminhamentoSelecionado}"  value="#{doc}"/>
                                    </p:commandButton>
                                </p>  
                            </p:column>
                        </p:dataTable>
                    </h:form>                    
                </h:panelGrid>
            </p:tab>
            <p:tab id="tab3" title="Documentos encaminhados">
                <h:panelGrid style="padding: 0px;">
                    <h:form id="frm_tabela3">
                        <p:panel style="width: 660px; padding: 0px; border: 0px;">
                            <f:facet name="header">  
                                <p:outputPanel style="padding: 0px;">
                                    <br/>
                                    <p align="center" style="font-size: 20px;">Documentos encaminhados</p>
                                    <p align="center">
                                        <h:outputText value="Localizar:" />  
                                        <p:inputText id="filtro3"  value="#{ctrlDocumentos.consulta}" style="width:300px">
                                            <p:ajax event="keyup" listener="#{ctrlDocumentos.carregaEncaminhamentosFeitosPorDocumentoDescricao()}" update="tabela3" />                                            
                                        </p:inputText>
                                    </p>
                                </p:outputPanel>  
                            </f:facet>
                        </p:panel>
                        <p:dataTable id="tabela3" var="doc" value="#{ctrlDocumentos.encaminhamentosFeitos}" widgetVar="doctbl"   
                                     emptyMessage="Nenhum documento encontrado."
                                     paginator="true" rows="10"  
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                                     rowsPerPageTemplate="5,10,15"
                                     style="width: 660px;">
                            
                            <p:column id="data" sortBy="#{doc.encaminhamentoData}"  
                                      headerText="Data do envio" >  
                                <h:outputText value="#{doc.encaminhamentoData}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </p:column>
                            
                            <p:column id="tipo" sortBy="#{doc.documento.documentoTipo}"   
                                      headerText="Tipo de documento">  
                                <h:outputText value="#{doc.documento.documentoTipo}" />  
                            </p:column>
                            
                            <p:column id="descricao" sortBy="#{doc.documento.documentoDescricao}"  
                                      headerText="Documento"  >  
                                <h:outputText value="#{doc.documento.documentoDescricao}"/>                                    
                            </p:column>
                            
                            <p:column id="status" sortBy="#{doc.encaminhamentoStatus}"  
                                      headerText="Status" >  
                                <h:outputText value="#{doc.encaminhamentoStatus}"/>                                    
                            </p:column>

                            <p:column id="setor" sortBy="#{doc.departamentoDestino.departamentoSigla}"  
                                      headerText="Destino" >  
                                <h:outputText value="#{doc.departamentoDestino.departamentoSigla}"/>                                    
                            </p:column>  


                            <p:column id="acao" headerText="Ação" >  
                                <p align="center">
                                    <p:commandButton value="Ver" ajax="false" action="#{ctrlDocumentos.visualizarDocumentoEncaminhado}">
                                        <f:setPropertyActionListener target="#{ctrlDocumentos.encaminhamentoSelecionado}" value="#{doc}"/> 
                                    </p:commandButton>
                                </p>  
                            </p:column>
                        </p:dataTable>
                    </h:form>                                                            
                </h:panelGrid>
            </p:tab>

        </p:tabView>
    </ui:define>

    <ui:define name="menu_lateral">
    </ui:define>

    <ui:define name="rodape">
    </ui:define>

</ui:composition>
