<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"      
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                template="./layout.xhtml">

    <ui:define name="menu_superior">
        <h:outputLink  value="home.jsf">Voltar</h:outputLink>
    </ui:define>

    <ui:define name="conteudo">
        <h:form id="frm_tabela" prependId="false">
            <h2>Encaminhar documentos</h2><hr />
            <br />
            <br />
            <p>Selecione o documento a ser encaminhado:</p>
            <p:panel style="width: 640px; padding: 0px; border: 0px;">
                <f:facet name="header">  
                    <p:outputPanel style="padding: 0px;">
                        <br/>
                        <p align="center" style="font-size: 20px;">Meus documentos</p>
                        <p align="center">
                            <h:outputText value="Localizar:" />  
                            <p:inputText id="filtro"  value="#{ctrlEncaminhamentos.consulta}" style="width:300px">
                                <p:ajax event="keyup" listener="#{ctrlEncaminhamentos.carregaDocumentosDoFuncionarioPorDescricao()}" update="tabela" />                                            
                            </p:inputText>
                        </p>
                    </p:outputPanel>  
                </f:facet>
            </p:panel>
            <p:dataTable id="tabela" var="doc" value="#{ctrlEncaminhamentos.documentos}"
                         emptyMessage="Nenhum documento encontrado."  
                         paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                         rowsPerPageTemplate="5,10,15,20"
                         paginator="true" rows="10"
                         selection="#{ctrlEncaminhamentos.documentoSelecionado}"
                         selectionMode="single"
                         rowKey="#{doc.documentoId}"
                         style="width: 640px; padding: 0px;">
                
                <p:ajax event="rowSelect" update=":frm_tabela:doc_sel" />
                
                <p:column id="codigo" sortBy="#{doc.documentoId}"   
                          headerText="Código">  
                    <h:outputText value="#{doc.documentoId}" />  
                </p:column>

                <p:column id="descricao" sortBy="#{doc.documentoDescricao}"  
                          headerText="Descricao" >  
                    <h:outputText value="#{doc.documentoDescricao}" />  
                </p:column>

                <p:column id="data" sortBy="#{doc.documentoDataCriacao}"  
                          headerText="Data de criação" >  
                    <h:outputText value="#{doc.documentoDataCriacao}">
                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                    </h:outputText>
                </p:column>
            </p:dataTable>
            <br />
            <table id="tabela_doc_sel">
                <tr>
                    <td>Data do encaminhamento:</td>
                    <td><p:calendar value="#{ctrlEncaminhamentos.encaminhamento.encaminhamentoData}"/></td>
                </tr>
                <tr>
                    <td>Setor de destino:</td>
                    <td>
                        <p:selectOneMenu value="#{ctrlEncaminhamentos.encaminhamento.departamentoDestino}">
                            <f:selectItems value="#{ctrlEncaminhamentos.departamentos}" />
                            <f:converter converterId="ConversorDepartamento"/>
                        </p:selectOneMenu>
                    </td>
                </tr>
                <tr>
                    <td>Documento selecionado:</td>
                    <td><p:inputText id="doc_sel" readonly="true" size="50" value="#{ctrlEncaminhamentos.documentoSelecionado.documentoDescricao}"/></td>
                </tr>
                <tr>
                    <td>Assentamento:</td>
                    <td><p:inputTextarea rows="5" cols="65" value="#{ctrlEncaminhamentos.assentamento.assentamentoConteudo}"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td align="right">
                        <p:commandButton value="Encaminhar" action="#{ctrlEncaminhamentos.salvar()}" ajax="false">
                            <f:setPropertyActionListener target="#{ctrlMensagens.pagina}" value="encaminhamento" />
                        </p:commandButton>
                    </td>
                </tr>
            </table>
            
        </h:form>
    </ui:define>

    <ui:define name="menu_lateral">
    </ui:define>

    <ui:define name="rodape">
    </ui:define>

</ui:composition>
