<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"      
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="./layout.xhtml">

    <ui:define name="menu_superior">
            <li class="current_page_item">
            	<h:outputLink  value="novo_documento.jsf">Novo Documento</h:outputLink>
            </li>
            <li>
            	<h:outputLink  value="encaminhamento.jsf">Encaminhar Documento</h:outputLink>
            </li>
            <li>
            	<h:outputLink  value="documentos.jsf">Consultar Documentos</h:outputLink>
            </li>
            <li>
            	<h:outputLink  value="logout">Sair</h:outputLink>
            </li>            
    </ui:define>

    <ui:define name="conteudo">
        <p>Olá, <h:outputText value="#{ctrlHome.usuario.funcionario.funcionarioNome}" />!</p><hr />
        <p>Setor: <h:outputText value="#{ctrlHome.usuario.funcionario.departamento.departamentoNome}" /> &nbsp; - &nbsp; Cargo: <h:outputText value="#{ctrlHome.usuario.funcionario.cargo.cargoNome}" /></p><hr />
        <br />
        <p>Documentos encaminhados por mim:</p>
        <div class="entry">
            <div class="entry-bgtop">
                <div class="entry-bgbtm">
                    <c:choose>
                        <c:when test="${ctrlHome.encaminhamentosFeitos.size() ne 0}">
                            <h:form>
                                <p:dataTable id="encan_feitos" var="item"
                                             selectionMode="single"
                                             selection="#{ctrlHome.encaminhamentoSelecionado}"
                                             rowKey="#{item.encaminhamentoId}"
                                             value="#{ctrlHome.encaminhamentosFeitos}"
                                             style="padding: 0px;">
                                    
                                    <p:ajax event="rowSelect"  listener="#{ctrlHome.visualizarEncaminhamento}"/>
                                    
                                    <p:column style="text-align: center;">    
                                        <f:facet name="header">
                                            <h:outputText value="Enviado em" />
                                        </f:facet>
                                        <h:outputText value="#{item.encaminhamentoData}">
                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column style="text-align: center;">    
                                        <f:facet name="header">
                                            <h:outputText value="Enviado para" />
                                        </f:facet>
                                        <h:outputText  value="#{item.departamentoDestino.departamentoSigla}" />
                                    </p:column>
                                    <p:column style="text-align: center;">    
                                        <f:facet name="header">
                                            <h:outputText value="Status" />
                                        </f:facet>
                                        <h:outputText  value="#{item.encaminhamentoStatus}" />
                                    </p:column>
                                    <p:column style="text-align: center;">    
                                        <f:facet name="header">
                                            <h:outputText value="Tipo de documento" />
                                        </f:facet>
                                        <h:outputText  value="#{item.documento.documentoTipo}" />
                                    </p:column>
                                    <p:column sortBy="#{item.documento.documentoDescricao}">
                                        <f:facet name="header">
                                            <h:outputText value="Descrição do documento" />
                                        </f:facet>
                                        <h:outputText style="text-align: left;" value="#{item.documento.documentoDescricao}" />
                                    </p:column>
                                </p:dataTable>
                                <br/>
                            </h:form>
                        </c:when>
                        <c:otherwise>
                            <br/>
                            <p align="center">Não há encaminhamentos por mim!</p>
                            <br/>
                        </c:otherwise>
                    </c:choose>
                </div>
            </div>
        </div>
        <br />
        <p>Documentos recebidos (Setor - <h:outputText value="#{ctrlHome.usuario.funcionario.departamento.departamentoNome}" />):</p>
        <div class="entry">
            <div class="entry-bgtop">
                <div class="entry-bgbtm">
                    <c:choose>
                        <c:when test="${ctrlHome.encaminhamentosRecebidosDepartamento.size() != 0}">
                            <h:form>
                                <p:dataTable id="encan_departamento" var="item"
                                             selectionMode="single"
                                             selection="#{ctrlHome.encaminhamentoSelecionado}"
                                             rowKey="#{item.encaminhamentoId}"
                                             value="#{ctrlHome.encaminhamentosRecebidosDepartamento}"
                                             style="padding: 0px;">
                                    
                                    <p:ajax event="rowSelect" listener="#{ctrlHome.visualizarRecebimento()}"/>
                                    
                                    <p:column style="text-align: center;">    
                                        <f:facet name="header">
                                            <h:outputText value="Enviado em" />
                                        </f:facet>
                                        <h:outputText value="#{item.encaminhamentoData}">
                                            <f:convertDateTime pattern="dd/MM/yyyy" />
                                        </h:outputText>
                                    </p:column>
                                    <p:column style="text-align: center;">    
                                        <f:facet name="header">
                                            <h:outputText value="Enviado por" />
                                        </f:facet>
                                        <h:outputText  value="#{item.departamentoRemetente.departamentoSigla}" />
                                    </p:column>
                                    <p:column style="text-align: center;">    
                                        <f:facet name="header">
                                            <h:outputText value="Status" />
                                        </f:facet>
                                        <h:outputText  value="#{item.encaminhamentoStatus}" />
                                    </p:column>
                                    <p:column style="text-align: center;">    
                                        <f:facet name="header">
                                            <h:outputText value="Tipo de documento" />
                                        </f:facet>
                                        <h:outputText  value="#{item.documento.documentoTipo}" />
                                    </p:column>
                                    <p:column sortBy="#{item.documento.documentoDescricao}">
                                        <f:facet name="header">
                                            <h:outputText value="Descrição do documento" />
                                        </f:facet>
                                        <h:outputText style="text-align: left;" value="#{item.documento.documentoDescricao}" />
                                    </p:column>
                                </p:dataTable>
                                <br/>
                            </h:form>
                        </c:when>
                        <c:otherwise>
                            <br/>
                            <p align="center">Não há encaminhamentos para o departamento!</p>
                            <br/>
                        </c:otherwise>
                    </c:choose>
                </div>
            </div>
        </div>
    </ui:define>

    <ui:define name="menu_lateral">
        <!-- Exemplo:
              <li>
                 <ul>
                   <li><a href="#">Solicitar cadastro</a></li>
                 </ul>
              </li>
        -->
        <h:form>
            <c:if test="#{ctrlHome.usuario.usuarioPrivilegio eq 'admin'}">
                <li>
                    <h2>Administrar</h2>
                    <ul>
                        <li><p:commandLink value="Cadastro de funcionarios" ajax="false" /></li>
                        <li><p:commandLink value="Cadastro de usuarios" ajax="false" /></li>
                        <li><p:commandLink action="cadastro_departamentos" value="Cadastro de departamentos" ajax="false" /></li>
                        <li><p:commandLink action="cadastro_cargos" value="Cadastro de cargos" ajax="false" /></li>
                        <li><p:commandLink action="cadastro_frases" value="Cadastro de frases" ajax="false" /></li>
                    </ul>
                </li>
            </c:if>
            <li>
                <h2>Minha conta</h2>
                <ul>
                    <li><p:commandLink value="Alterar meu cadastro" /></li>
                </ul>
            </li>
        </h:form>

    </ui:define>

    <ui:define name="rodape">
    </ui:define>

</ui:composition>
