<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"      
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="./layout.xhtml">
    
    <ui:define name="menu_superior">
    	<f:event type="preRenderView" listener="#{ctrlLogin.msg}" />
    </ui:define>

    <ui:define name="conteudo">
        <br />
        <p >Para acessar o sistema efetue o login.</p>
        <br />
        <br />
        <h:form id="frmLogin">
            <p:messages id="msg" />
            <table align="center">
                <tr>
                    <td>Usuário:</td>
                    <td><p:inputText value="#{ctrlLogin.usuario.usuarioLogin}" required="true" requiredMessage="Informe o seu usuário." size="30" /></td>
                </tr>
                <tr>
                    <td>Senha:</td>
                    <td><p:password value="#{ctrlLogin.usuario.usuarioSenha}" required="true" requiredMessage="Informe a sua senha." size="30" /></td> 
                </tr>
                <tr>
                    <td></td>
                    <td align="right">
                        <a>Esqueci a minha senha</a>&nbsp;&nbsp;
                        <p:commandButton action="#{ctrlLogin.login}" update=":frmLogin" process="@form" ajax="false" value="Login" />
                    </td>
                </tr>
            </table>
        </h:form>
        <br />
        <br />
        <br />
        <br />
        <br />        
    </ui:define>

    <ui:define name="menu_lateral">
    </ui:define>

    <ui:define name="rodape">
    </ui:define>

</ui:composition>
