<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"      
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
        <title>.: Gerenciador Eletrônico de Documentos :.</title>
    </h:head>

    <h:body>

        <div id="wrapper">
            <!-- inicio do cabeçalho -->
            <div id="header">
                <div id="logo">
                    <h1><a href="#">.: GED - UESB</a></h1><br />
                    <p>Sistema de Gerenciamento Eletrônico de Documentos</p>
                </div>
            </div>
            <!-- fim do cabeçalho -->

            <!-- inicio do menu -->
            <div id="menu">

                <ul>
                    <!-- Exemplo: <li class="current_page_item"><a href="#">O que é?</a></li> -->
                    <ui:insert name="menu_superior">

                    </ui:insert>
                </ul>                    
            </div>
            <!-- fim do menu -->

            <!-- inicio pagina -->
            <div id="page">
				<p:dialog widgetVar="dlgAjax" modal="true" closable="false" draggable="false" showHeader="false" position="center" resizable="false">
					<p:graphicImage value="images/ajax-loader.gif"/>
				</p:dialog>
				<p:ajaxStatus onstart="dlgAjax.show();" oncomplete="setTimeout('dlgAjax.hide()',500);"/>
				
                <div id="page-bgtop">
                    <div id="page-bgbtm">
                        <!-- inicio do content -->
                        <div id="content">
                            <div class="post">
                                <ui:insert name="conteudo">

                                </ui:insert>                                        
                            </div>
                            <div style="clear: both;">
                                &nbsp;
                            </div>
                        </div>
                        <!-- fim do content -->

                        <!-- inicio do sidebar -->
                        <div id="sidebar">
                            <ul>

                                <!-- Exemplo:
                                    <li>
                                        <ul>
                                            <li><a href="#">Solicitar cadastro</a></li>
                                        </ul>
                                    </li>
                                -->
                                <ui:insert name="menu_lateral">
                                                                                
                                </ui:insert>

                                <li>
                                    <h2>Frase do dia</h2>
                                    <p><h:outputText value="&ldquo;#{ctrlFraseDia.frase.fraseConteudo}&rdquo;" /></p>
                                    <p><h:outputText value="#{ctrlFraseDia.frase.fraseAutor}" /></p>
                                </li>
                            </ul>
                        </div>
                        <!-- fim do sidebar -->

                        <div style="clear: both;">
                            &nbsp;
                        </div>

                    </div>
                </div>
            </div>
            <!-- fim pagina -->
        </div>

        <!-- inicio do rodape -->
        <div id="footer">
            <p>Sistema Desenvolvido por Lucas Oliveira Monteiro - Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>                
            <ui:insert name="rodape">

            </ui:insert>
        </div>
        <!-- fim do rodape -->        
    </h:body>

</html>
