<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                template="./layout.xhtml">

    <ui:define name="menu_superior">
    </ui:define>

    <ui:define name="conteudo">
        <br />
        <br />
        <br />
        <br />
        <h:form>
            <p align="center">
                <p:messages id="msg" />
            </p>
            <p align="center"><p:commandButton value="Ok" action="#{ctrlMensagens.confirmacao()}" ajax="false" /></p>
        </h:form>
    </ui:define>

    <ui:define name="menu_lateral">
    </ui:define>

    <ui:define name="rodape">
    </ui:define>

</ui:composition>
