<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"      
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="./layout.xhtml">

    <ui:define name="menu_superior">
        <li class="current_page_item">
        	<h:outputLink  value="home.jsf">Voltar</h:outputLink>
        </li>
        <li>
        	<h:outputLink  value="encaminhamento.jsf">Encaminhar Documento</h:outputLink>
        </li>           
    </ui:define>

    <ui:define name="conteudo">
        <h2>Novo documento</h2><hr />
        <br />
        <br />
        <p:tabView id="tabview" activeIndex="#{ctrlNovoDocumento.activetab}">
            <p:tab id="tab1" title="Criar documento">
                <h:panelGrid>
                    <h:form>
                        <table align="center">
                            <tr>
                                <td>Tipo de documento:</td>
                                <td>
                                    <p:selectOneMenu value="#{ctrlNovoDocumento.documento.documentoTipo}">
                                        <f:selectItems value="#{ctrlNovoDocumento.tiposDocumentos}" />
                                    </p:selectOneMenu>
                                </td>
                            </tr>
                            <tr>
                                <td>Data da criação:</td>
                                <td><p:calendar value="#{ctrlNovoDocumento.documento.documentoDataCriacao}" pattern="dd/MM/yyyy"/></td>
                            </tr>
                            <tr>
                                <td>Nome do documento:</td>
                                <td><p:inputText size="50"  value="#{ctrlNovoDocumento.documentoNome}"/></td>
                            </tr>
                            <tr>
                                <td>Descrição:</td>
                                <td><p:inputText size="55" value="#{ctrlNovoDocumento.documento.documentoDescricao}" /></td>
                            </tr>
                            <tr>
                                <td>Resumo:</td>
                                <td><p:inputTextarea  cols="61" rows="5" value="#{ctrlNovoDocumento.documento.documentoResumo}" /></td>
                            </tr>
                            <tr>
                                <td>Documento:</td>
                                <td>
                                    <p:editor value="#{ctrlNovoDocumento.editor}" width="500" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td align="right"><p:commandButton value="Salvar" ajax="false" action="#{ctrlNovoDocumento.salvarDocumentoEditor()}" /></td>
                            </tr>
                        </table>
                    </h:form>                    
                </h:panelGrid>
            </p:tab>
            <p:tab rendered="false" id="tab2" title="Digitalizar documento">            
                <h:panelGrid>
                    <h:form>
                        <table align="center">
                            <tr>
                                <td>Tipo de documento:</td>
                                <td>
                                    <p:selectOneMenu value="#{ctrlNovoDocumento.documento.documentoTipo}">
                                        <f:selectItems value="#{ctrlNovoDocumento.tiposDocumentos}" />
                                    </p:selectOneMenu>
                                </td>
                            </tr>
                            <tr>
                                <td>Data da criação:</td>
                                <td><p:calendar value="#{ctrlNovoDocumento.documento.documentoDataCriacao}" pattern="dd/MM/yyyy"/></td>
                            </tr>
                            <tr>
                                <td>Descrição:</td>
                                <td><p:inputText size="55" value="#{ctrlNovoDocumento.documento.documentoDescricao}" /></td>
                            </tr>
                            <tr>
                                <td>Resumo:</td>
                                <td><p:inputTextarea cols="61" rows="5" value="#{ctrlNovoDocumento.documento.documentoResumo}" /></td>
                            </tr>
                            <tr>
                                <td>Documento:</td>
                                <td>
                                    <p:commandButton action="#{ctrlNovoDocumento.digitalizarDocumento()}" value="Digitalizar" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td align="right"><p:commandButton value="Salvar" ajax="false" action="#{ctrlNovoDocumento.salvarDocumento()}" /></td>
                            </tr>
                        </table>
                    </h:form>
                </h:panelGrid>
            </p:tab>
            <p:tab id="tab3" title="Enviar documento existente">            
                <h:panelGrid>
                    <h:form id="frm3"  enctype="multipart/form-data">
                        <table align="center">
                            <tr>
                                <td>Tipo de documento:</td>
                                <td>
                                    <p:selectOneMenu value="#{ctrlNovoDocumento.documento.documentoTipo}">
                                        <f:selectItems value="#{ctrlNovoDocumento.tiposDocumentos}" />
                                    </p:selectOneMenu>
                                </td>
                            </tr>
                            <tr>
                                <td>Data da criação:</td>
                                <td><p:calendar value="#{ctrlNovoDocumento.documento.documentoDataCriacao}" pattern="dd/MM/yyyy"/></td>
                            </tr>
                            <tr>
                                <td>Descrição:</td>
                                <td><p:inputText size="55" value="#{ctrlNovoDocumento.documento.documentoDescricao}" /></td>
                            </tr>
                            <tr>
                                <td>Resumo:</td>
                                <td><p:inputTextarea cols="61" rows="5" value="#{ctrlNovoDocumento.documento.documentoResumo}" /></td>
                            </tr>
                            <tr>
                                <td>Documento:</td>
                                <td>
                                    <p:fileUpload id="file" fileUploadListener="#{ctrlNovoDocumento.handleFileUpload}"  
                                                  update="msg"
                                                  oncomplete="dlg.show();"
                                                  label="Selecionar documento"
                                                  mode="advanced"
                                                  auto="true"
                                                  sizeLimit="10240000"/>                                    
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td align="right">
                                    <p:commandButton  value="Salvar" ajax="false" action="#{ctrlNovoDocumento.salvarDocumento}">
                                        <f:setPropertyActionListener  target="#{ctrlMensagens.pagina}" value="novo_documento" />
                                    </p:commandButton>
                                </td>
                            </tr>
                        </table>
                        <p:dialog widgetVar="dlg" modal="true" position="top,center" >
                            <p align="center"><p:messages id="msg" showDetail="true" showSummary="true" /></p>
                            <p align="right"><p:commandButton value="Ok" type="button" onclick="dlg.hide();" /></p>
                        </p:dialog>
                    </h:form>
                </h:panelGrid>
            </p:tab>
        </p:tabView>
    </ui:define>

    <ui:define name="menu_lateral">
    </ui:define>

    <ui:define name="rodape">
    </ui:define>

</ui:composition>
