<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"      
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="./layout.xhtml">

    <ui:define name="menu_superior">
        <f:event type="preRenderView" listener="#{ctrlVisualizarDocumento.redirectToHome}" />
        <li class="current_page_item">
	       <h:outputLink  value="documentos.jsf">Voltar</h:outputLink>
	   </li> 
    </ui:define>

    <ui:define name="conteudo">
        <br />
        <h3>Visualização de documentos</h3><hr />
        <br />
        <br />
        <br />
        <h:form id="frm_visualiza">
            <table>
                <tr>
                    <td>Tipo de documento:</td>
                    <td>
                        <p:selectOneMenu disabled="#{ctrlVisualizarDocumento.bloqueio}" value="#{ctrlVisualizarDocumento.documentoSelecionado.documentoTipo}">
                            <f:selectItems value="#{ctrlNovoDocumento.tiposDocumentos}" />
                        </p:selectOneMenu>
                    </td>
                </tr>
                <tr>
                    <td>Data da criação:</td>
                    <td><p:calendar disabled="#{ctrlVisualizarDocumento.bloqueio}" value="#{ctrlVisualizarDocumento.documentoSelecionado.documentoDataCriacao}" pattern="dd/MM/yyyy"/></td>
                </tr>
                <tr>
                    <td>Descrição:</td>
                    <td><p:inputText size="55" readonly="#{ctrlVisualizarDocumento.bloqueio}" value="#{ctrlVisualizarDocumento.documentoSelecionado.documentoDescricao}" /></td>
                </tr>
                <tr>
                    <td>Resumo:</td>
                    <td><p:inputTextarea  readonly="#{ctrlVisualizarDocumento.bloqueio}" cols="61" rows="5" value="#{ctrlVisualizarDocumento.documentoSelecionado.documentoResumo}" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td align="right">
                        <p:commandButton value="Editar" disabled="#{!ctrlVisualizarDocumento.bloqueio}" update=":frm_visualiza">
                            <f:setPropertyActionListener target="#{ctrlVisualizarDocumento.bloqueio}" value="false"/>
                        </p:commandButton>
                        <p:commandButton disabled="#{ctrlVisualizarDocumento.bloqueio}" value="Salvar" action="#{ctrlVisualizarDocumento.salvar()}">
                            <f:setPropertyActionListener target="#{ctrlMensagens.pagina}" value="documentos" />
                        </p:commandButton>
                    </td>
                </tr>
            </table>
        </h:form>
    </ui:define>

    <ui:define name="menu_lateral">
    </ui:define>

    <ui:define name="rodape">
    </ui:define>

</ui:composition>
