<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"      
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                template="./layout.xhtml">

    <ui:define name="menu_superior">
    	<f:event type="preRenderView" listener="#{ctrlVisualizarDocumentoRecebido.redirectToHome}" />
        <li class="current_page_item">
	       <h:outputLink  value="documentos.jsf">Voltar</h:outputLink>
	   </li> 
    </ui:define>

    <ui:define name="conteudo">
        <h:form id="frmVisualizacaoDocumentoRecebido">
            <h2>Documento recebido</h2><hr />
            <br />
            <br />
            <table cellpadding="2">
                <tr>
                    <td>Código:</td>
                    <td><p:inputText readonly="true" size="10" value="#{ctrlVisualizarDocumentoRecebido.encaminhamentoSelecionado.documento.documentoId}" /></td>
                </tr>
                <tr>
                    <td>Tipo do documento:</td>
                    <td><p:inputText readonly="true" size="30" value="#{ctrlVisualizarDocumentoRecebido.encaminhamentoSelecionado.documento.documentoTipo}" /></td>
                </tr>
                <tr>
                    <td>Data de criação:</td>
                    <td>
                        <p:inputText readonly="true" value="#{ctrlVisualizarDocumentoRecebido.encaminhamentoSelecionado.documento.documentoDataCriacao}" >
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </p:inputText>
                    </td>
                </tr>
                <tr>
                    <td>Descrição:</td>
                    <td><p:inputText readonly="true" size="50" value="#{ctrlVisualizarDocumentoRecebido.encaminhamentoSelecionado.documento.documentoDescricao}" /></td>
                </tr>
                <tr>
                    <td>Resumo:</td>
                    <td><p:inputTextarea readonly="true" rows="5" cols="50" value="#{ctrlVisualizarDocumentoRecebido.encaminhamentoSelecionado.documento.documentoResumo}" /></td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td><p:inputText readonly="true" size="35" value="#{ctrlVisualizarDocumentoRecebido.encaminhamentoSelecionado.encaminhamentoStatus}" /></td>
                </tr>
                <tr>
                    <td>Data de encaminhamento:</td>
                    <td>
                        <p:inputText readonly="true" value="#{ctrlVisualizarDocumentoRecebido.encaminhamentoSelecionado.encaminhamentoData}">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </p:inputText>
                    </td>
                </tr>
                <tr>
                    <td>Setor remetente:</td>
                    <td><p:inputText readonly="true" size="50" value="#{ctrlVisualizarDocumentoRecebido.encaminhamentoSelecionado.departamentoRemetente.departamentoNome}" /></td>
                </tr>
                <tr>
                    <td>Funcionario remetente:</td>
                    <td><p:inputText readonly="true" size="50" value="#{ctrlVisualizarDocumentoRecebido.encaminhamentoSelecionado.documento.funcionario.funcionarioNome}" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td align="right">
                        <h:form>
                            <p:commandButton value="Download do arquivo" ajax="false">
                            	<p:fileDownload value="#{ctrlVisualizarDocumentoRecebido.downloadArquivo}"/>
                            </p:commandButton>
                        </h:form>
                    </td>
                </tr>
            </table>
            <br />
            <br />
            
            <p>Assentamentos realizados:</p>
            <p:dataTable id="assentamentos" var="ass" value="#{ctrlVisualizarDocumentoRecebido.encaminhamentoSelecionado.assentamentoList}">  
                <p:column id="funcionario">  
                    <f:facet name="header">Funcionario</f:facet>  
                    <h:outputText value="#{ass.funcionario.funcionarioNome}" />  
                </p:column>
                <p:column id="assentamento">  
                    <f:facet name="header">Assentamento</f:facet>  
                    <h:outputText value="#{ass.assentamentoConteudo}" />  
                </p:column> 
            </p:dataTable>
            <br />
            <h:panelGrid columns="2" id="pnlNovoAss">
            	<h:panelGrid rendered="#{!ctrlVisualizarDocumentoRecebido.renderedTextArea}">
            		<p:commandButton disabled="#{ctrlVisualizarDocumentoRecebido.disabledNovoAssentamento}" global="false" value="Emitir novo assentamento..." update=":frmVisualizacaoDocumentoRecebido:pnlNovoAss">
            			<f:setPropertyActionListener target="#{ctrlVisualizarDocumentoRecebido.renderedTextArea}" value="#{true}" />
            		</p:commandButton>
            	</h:panelGrid>
            	<h:panelGrid>
	            	<h:panelGrid rendered="#{ctrlVisualizarDocumentoRecebido.renderedTextArea}">
		            	<h:outputText value="Mensagem:" />
		            	<p:inputTextarea style="width: 500px;" value="#{ctrlVisualizarDocumentoRecebido.textoAssentamento}" />
		            	<h:panelGroup>
		            		<p:commandButton global="false" value="Cancelar" update=":frmVisualizacaoDocumentoRecebido:pnlNovoAss">
		            			<f:setPropertyActionListener target="#{ctrlVisualizarDocumentoRecebido.renderedTextArea}" value="#{false}" />
		            			<f:setPropertyActionListener target="#{ctrlVisualizarDocumentoRecebido.textoAssentamento}" value="#{null}" />
		            		</p:commandButton>
			            	<p:commandButton value="Enviar" ajax="false" action="#{ctrlVisualizarDocumentoRecebido.enviarAssentamento}" />
		            	</h:panelGroup>
	            	</h:panelGrid>
            	</h:panelGrid>
            </h:panelGrid>
            <p:spacer height="30" />
            <p align="right"><p:commandButton rendered="#{ctrlVisualizarDocumentoRecebido.renderedConfirmarRecebimento}" value="Confirmar recebimento" ajax="false" action="#{ctrlVisualizarDocumentoRecebido.confirmarRecebimento}" /></p>
        </h:form>        
    </ui:define>

    <ui:define name="menu_lateral">
    </ui:define>

    <ui:define name="rodape">
    </ui:define>

</ui:composition>
